---
---
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:700,400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,100);


body {
  background-image:url(images/retro_intro.png);
}

.main_title {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 70px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.main_subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
}


.cv_title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 55px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}

.cv_subtitle {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.cv_subtitle_icon {
  color: #787878;
  text-align: right;
  margin-bottom: 10px;
}

.cv_subtitle_icon_social {
  color: #787878;
  text-align: center;
  margin-bottom: 10px;
}

.cv_subtitle_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 7px;
  padding-top: 1px;
}

.cv_category {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  border-top: dashed 2px #666666;
  border-bottom: dashed 2px #666666;
}

.cv_competence_ul {
  list-style-type: none;
}

.cv_competence_key {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  padding-top: 4px;
}

.cv_competence_value {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.cv_experience {
  margin-top: 20px;
}

.cv_experience_poste {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin-top: 20px;
}

.cv_experience_entreprise_icon {
  color: #787878;
  margin-left: 15px;
}

.cv_experience_enterprise {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.cv_competence_mission {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
  margin-top: 10px;
}

.cv_competence_mission_entreprise{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-right: 10px;
}

.cv_competence_mission_value {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.cv_competence_mission_date{
  margin-left: 5px;
}

.cv_competence_mission p {
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: justify;
  text-justify: auto;
}

.cv_project {
  margin-top: 20px;
}

.cv_project p {
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: justify;
  text-justify: auto;
}

.cv_projet_nom {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin-top: 20px;
}

.cv_project_icon {
  color: #787878;
  margin-left: 15px;
}

.cv_project_context {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-right: 10px;
}

.cv_formation_row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cv_formation_date {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: right;
}

.cv_formation_intitule {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: left;
}

.disquaire_section_title {
  background-image:url(images/DSC03745.png);
  //background-size:100% auto;
  background-size:cover;
  background-repeat:no-repeat;
  //height: 700px;

}

.disquaire_section_title_title {
  font-family: 'Roboto', sans-serif;
  font-size: 98px;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
  margin-top: 200px;
}

.disquaire_section_title_subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

.disquaire_section_title_logo {
  text-align: center;
  margin-top: 20px;
}

.disquaire_section_title_social {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 200px;
}

$orange: #e67e22;
$bleu: #34495e;

.disquaire_section_geolocalisation {
  background-color: $bleu;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.disquaire_section_geoloc_column_texte {
  margin-top: 150px;
}

.disquaire_section_geoloc_title {
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
  margin-top: 50px;
}

.disquaire_section_geoloc_title_icon {
  font-size: 4em;
  color: #ffffff;
}

.disquaire_section_geoloc_texte {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  font-weight: 300;
  text-align: center;

  color: #ffffff;
  margin-top: 20px;
  vertical-align: middle;
}

.disquaire_section_notation {
  background-color: $orange;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.disquaire_section_notation_column_texte {
  margin-top: 150px;
}

.disquaire_section_notation_title {
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.disquaire_section_notation_title_icon {
  font-size: 4em;
  color: #ffffff;
}

.disquaire_section_notation_texte {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

.disquaire_section_roadmap {
  background-color: $bleu;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.disquaire_section_roadmap_title {
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

.disquaire_section_roadmap_title_icon {
  font-size: 4em;
  color: #ffffff;
}

.disquaire_section_roadmap_texte_row {
  margin-top: 20px;
}

.disquaire_section_roadmap_texte {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

.disquaire_section_roadmap_texte_icon {
  font-size: 1.5em;
  color: #ffffff;
  margin-right: 5px;
}

.disquaire_section_contact {
  background-color: $orange;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.disquaire_section_contact_title {
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

.disquaire_section_contact_title_icon {
  font-size: 4em;
  color: #ffffff;
}

.disquaire_section_contact_texte {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

#map { height: 580px; }