---
layout : default
title: Disquaire
---
%section.disquaire_section_title
  .row
    .large-12.columns.disquaire_section_title_title
      Disquaire
  .row
    .large-8.large-centered.columns.disquaire_section_title_subtitle
      Record Store locator on Android for France, Canada, Belgium, Switzerland, Luwembourg.
  .row
    .large-12.large-centered.columns.disquaire_section_title_logo
      %a{:href=>"https://play.google.com/store/apps/details?id=com.djedev.disquaire"}
        %img{:alt=>'Android app on Google Play', :src =>'https://developer.android.com/images/brand/fr_app_rgb_wo_45.png'}
  .row
    .large-12.large-centered.columns.disquaire_section_title_social
      %a.fc-webicon.twitter.large{:href => 'https://twitter.com/Disquaire'}
      %a.fc-webicon.googleplus.large{:rel=>'publisher', :href => 'https://plus.google.com/101757465674210460803'}
      %a.fc-webicon.facebook.large{:href => 'https://www.facebook.com/disquaireapp'}

%section.disquaire_section_geolocalisation
  .row
    .large-4.columns
      %img{:alt=>'Rating Screenshot', :src =>"/css/images/map.png"}
    .large-8.columns.disquaire_section_geoloc_column_texte
      .row
        %span.disquaire_section_geoloc_title_icon
          %i.fa.fa-map-marker
        %span.disquaire_section_geoloc_title
          Location
      .row
        .disquaire_section_geoloc_texte
          Find all the record sellers around you

%section.disquaire_section_notation
  .row
    .large-8.columns.disquaire_section_notation_column_texte
      .row
        %span.disquaire_section_notation_title_icon
          %i.fa.fa-star
        %span.disquaire_section_notation_title
          Rating
      .row
        .disquaire_section_notation_texte
          Share your up and downs with other user
    .large-4.columns
      %img{:alt=>'Rating Screenshot', :src =>"/css/images/rating.png"}

%section.disquaire_section_roadmap
  .row
    %span.disquaire_section_roadmap_title_icon
      %i.fa.fa-lightbulb-o
    %span.disquaire_section_roadmap_title
      Improvement ?
  .row.disquaire_section_roadmap_texte_row
    %span.disquaire_section_roadmap_texte_icon
      %i.fa.fa-angle-right
    %span.disquaire_section_roadmap_texte
      Add 5 offline favorites
  .row.disquaire_section_roadmap_texte_row
    %span.disquaire_section_roadmap_texte_icon
      %i.fa.fa-angle-right
    %span.disquaire_section_roadmap_texte
      %s Add opening hours
      %i.icon-ok
  .row.disquaire_section_roadmap_texte_row
    %span.disquaire_section_roadmap_texte_icon
      %i.fa.fa-angle-right
    %span.disquaire_section_roadmap_texte
      %s Suggest a new record store
      %i.icon-ok
  .row.disquaire_section_roadmap_texte_row
    %span.disquaire_section_roadmap_texte_icon
      %i.fa.fa-angle-right
    %span.disquaire_section_roadmap_texte
      Add german translation
  .row.disquaire_section_roadmap_texte_row
    %span.disquaire_section_roadmap_texte_icon
      %i.fa.fa-angle-right
    %span.disquaire_section_roadmap_texte
      %s Send heads up for wrong information about a record store
      %i.fa.fa-ok
  .row.disquaire_section_roadmap_texte_row
    %span.disquaire_section_roadmap_texte_icon
      %i.fa.fa-angle-right
    %span.disquaire_section_roadmap_texte
      %s Suggest a picture for a record store
      %i.icon-ok
  .row.disquaire_section_roadmap_texte_row
    %span.disquaire_section_roadmap_texte_icon
      %i.fa.fa-angle-right
    %span.disquaire_section_roadmap_texte
      Premium version without ads
  .row.disquaire_section_roadmap_texte_row
    %span.disquaire_section_roadmap_texte_icon
      %i.fa.fa-angle-right
    %span.disquaire_section_roadmap_texte
      Add record store from other country (USA, Italie, Allemagne, Royaume Uni, Espagne)
  .row.disquaire_section_roadmap_texte_row
    %span.disquaire_section_roadmap_texte_icon
      %i.fa.fa-angle-right
    %span.disquaire_section_roadmap_texte
      %s Add tablet compatibility
      %i.icon-ok2

%section.disquaire_section_contact
  .row
    %span.disquaire_section_contact_title_icon
      %i.fa.fa-envelope
    %span.disquaire_section_contact_title
      Contact
  .row.disquaire_section_contact_texte
    For any questions, comments or complaint, feel free to contact me at dje.deve (at) gmail.com.


%section
  #map