---
layout : default
title: Disquaire
---
%section.disquaire_section_title
  .row
    .large-12.columns.disquaire_section_title_title
      Disquaire
  .row
    .large-8.large-centered.columns.disquaire_section_title_subtitle
      Application de géolocalisation et notation des disquaires de France, Belgique, Suisse et Luxemboug.
  .row
    .large-12.large-centered.columns.disquaire_section_title_logo
      %a{:href=>"https://play.google.com/store/apps/details?id=com.djedev.disquaire"}
        %img{:alt=>'Android app on Google Play', :src =>'https://developer.android.com/images/brand/fr_app_rgb_wo_45.png'}
  .row
    .large-12.large-centered.columns.disquaire_section_title_social
      %a.fc-webicon.twitter.large{:href => 'https://twitter.com/Disquaire'}
      %a.fc-webicon.googleplus.large{:rel=>'publisher', :href => 'https://plus.google.com/101757465674210460803'}
      %a.fc-webicon.facebook.large{:href => 'https://www.facebook.com/disquaireapp'}

%section.disquaire_section_geolocalisation
  .row
    .large-4.columns
      %img{:alt=>'Rating Screenshot', :src =>"/css/images/map.png"}
    .large-8.columns.disquaire_section_geoloc_column_texte
      .row
        %span.disquaire_section_geoloc_title_icon
          %i.fa.fa-map-marker
        %span.disquaire_section_geoloc_title
          Geolocalisation
      .row
        .disquaire_section_geoloc_texte
          Trouver facilement les revendeurs de disques près de vous

%section.disquaire_section_notation
  .row
    .large-8.columns.disquaire_section_notation_column_texte
      .row
        %span.disquaire_section_notation_title_icon
          %i.fa.fa-star
        %span.disquaire_section_notation_title
          Notation
      .row
        .disquaire_section_notation_texte
          Partager vos coups de coeur et coups de gueule
          %br
          avec les autres utilisateurs
    .large-4.columns
      %img{:alt=>'Rating Screenshot', :src =>"/css/images/rating.png"}

%section.disquaire_section_roadmap
  .row
    %span.disquaire_section_roadmap_title_icon
      %i.fa.fa-lightbulb-o
    %span.disquaire_section_roadmap_title
      Optimisations ?
  .row.disquaire_section_roadmap_texte_row
    %span.disquaire_section_roadmap_texte_icon
      %i.fa.fa-angle-right
    %span.disquaire_section_roadmap_texte
      Possibilité d'ajouter 5 favoris
  .row.disquaire_section_roadmap_texte_row
    %span.disquaire_section_roadmap_texte_icon
      %i.fa.fa-angle-right
    %span.disquaire_section_roadmap_texte
      %s Ajouter les horaires d'ouverture
      %i.fa.fa-ok
  .row.disquaire_section_roadmap_texte_row
    %span.disquaire_section_roadmap_texte_icon
      %i.fa.fa-angle-right
    %span.disquaire_section_roadmap_texte
      %s Proposer un nouveau disquaire depuis l'application
      %i.fa.fa-ok
  .row.disquaire_section_roadmap_texte_row
    %span.disquaire_section_roadmap_texte_icon
      %i.fa.fa-angle-right
    %span.disquaire_section_roadmap_texte
      Ajouter une traduction allemande
  .row.disquaire_section_roadmap_texte_row
    %span.disquaire_section_roadmap_texte_icon
      %i.fa.fa-angle-right
    %span.disquaire_section_roadmap_texte
      %s Signaler des informations erronées relatives à un disquaire
      %i.fa.fa-ok
  .row.disquaire_section_roadmap_texte_row
    %span.disquaire_section_roadmap_texte_icon
      %i.fa.fa-angle-right
    %span.disquaire_section_roadmap_texte
      %s Possibilité de fournir une photo pour un disquaire
      %i.fa.fa-ok
  .row.disquaire_section_roadmap_texte_row
    %span.disquaire_section_roadmap_texte_icon
      %i.fa.fa-angle-right
    %span.disquaire_section_roadmap_texte
      Proposer une version payante sans bandeau de pub
  .row.disquaire_section_roadmap_texte_row
    %span.disquaire_section_roadmap_texte_icon
      %i.fa.fa-angle-right
    %span.disquaire_section_roadmap_texte
      Ajouter des disquaires d'autres pays (Canada, Italie, Allemagne, Royaume Uni, Espagne)
  .row.disquaire_section_roadmap_texte_row
    %span.disquaire_section_roadmap_texte_icon
      %i.fa.fa-angle-right
    %span.disquaire_section_roadmap_texte
      %s Ajouter la compatibilité avec les tablettes
      %i.fa.fa-ok

%section.disquaire_section_contact
  .row
    %span.disquaire_section_contact_title_icon
      %i.fa.fa-envelope
    %span.disquaire_section_contact_title
      Contact
  .row.disquaire_section_contact_texte
    Pour toutes questions, remarques ou réclamations. N'hésitez pas à me contacter via mail à dje.deve (at) gmail.com.

%section
  #map