---
layout: main
title: Jeremie Gauthier / Resume
---
.row
  .large-12.columns
    .cv_title
      JÉRÉMIE GAUTHIER

.row
  .large-12.large-centered.columns
    .cv_subtitle
      Ingénieur JavaEE (entre autre)

.row
  .large-11.large-centered.columns
    .large-4.columns
      .row.collapse
        .large-3.columns
          .cv_subtitle_icon
            %i.fa.fa-calendar-o
        .large-9.columns
          .cv_subtitle_text
            28 ans (14/05/85)
    .large-4.columns
      .row.collapse
        .large-1.columns
          .cv_subtitle_icon
            %i.fa.fa-envelope
        .large-11.columns
          .cv_subtitle_text
            gauthier.jeremie at gmail.com
    .large-4.columns
      .cv_subtitle_icon_social
        %a.fc-webicon.twitter.small{:href => 'https://twitter.com/djegauth'}
        %a.fc-webicon.googleplus.small{:href => 'https://plus.google.com/u/0/110419283901288078906/'}
        %a.fc-webicon.github.small{:href => 'https://github.com/djegauth'}

.row
  .large-10.large-centered.columns
    .cv_category
      COMPETENCES
  .large-10.large-centered.columns.cv_experience
    .large-6.columns
      .large-4.columns.cv_competence_key
        LANGAGES
      .large-8.columns
        %ul.cv_competence_ul.cv_competence_value
          %li Java (Java SE 7, JavaEE 6)
          %li Android
      .large-4.columns.cv_competence_key
        JAVA EE
      .large-8.columns
        %ul.cv_competence_ul.cv_competence_value
          %li CDI
          %li JSF 2.0 - Primefaces
          %li JPA
          %li EJB
          %li JAX-RS
          %li Apache Shiro
      .large-4.columns.cv_competence_key
        WEB
      .large-8.columns
        %ul.cv_competence_ul.cv_competence_value
          %li GWT - Vaadin
          %li AngularJS
          %li Awestruct
    .large-6.columns
      .large-4.columns.cv_competence_key
        OS
      .large-8.columns
        %ul.cv_competence_ul.cv_competence_value
          %li Windows
          %li Linux
      .large-4.columns.cv_competence_key
        SERVEUR
      .large-8.columns
        %ul.cv_competence_ul.cv_competence_value
          %li JBoss AS 7
          %li Apache Tomcat
          %li Apache Karaf
      .large-4.columns.cv_competence_key
        BDD
      .large-8.columns
        %ul.cv_competence_ul.cv_competence_value
          %li MongoDB
          %li PostgreSQL
          %li MySQL
      .large-4.columns.cv_competence_key
        OUTILS
      .large-8.columns
        %ul.cv_competence_ul.cv_competence_value
          %li IntelliJ, Eclipse
          %li Maven, Gradle
          %li Git, SVN
          %li Jenkins, Sonar

.row
  .large-10.large-centered.columns
    .cv_category
      EXPERIENCES
.row
  .large-10.large-centered.columns.cv_experience
    %span.cv_experience_poste
      INGENIEUR ETUDES ET DEVELOPPEMENT
    %span.cv_experience_entreprise_icon
      %i.fa.fa-building-o
    %span.cv_experience_enterprise
      Ippon Technologies
    %span.cv_experience_entreprise_icon
      %i.fa.fa-calendar
    %span.cv_experience_enterprise
      Depuis juin 2012
.row
  .large-10.large-centered.columns
    .cv_competence_mission
      %p
        %span.cv_competence_mission_entreprise
          IXXI
        %span
          %i.fa.fa-chevron-right
        %span.cv_competence_mission_date
          depuis novembre 2012
      %p
        %span.cv_competence_mission_key
          Projet :
        %span.cv_competence_mission_value
          SGIC
      %p
        %span
          Mission :
        %span.cv_competence_mission_value
          Realisation
      %p
        %span
          Technos :
        %span.radius.secondary.label
          Apache Karaf
        %span.radius.secondary.label
          JAXB
        %span.radius.secondary.label
          PostgreSQL
        %span.radius.secondary.label
          Hibernate
        %span.radius.secondary.label
          Camel-CXF
        %span.radius.secondary.label
          Liferay
        %span.radius.secondary.label
          Vaadin 6
        %span.radius.secondary.label
          Maven
.row
  .large-10.large-centered.columns
    .cv_competence_mission
      %p
        %span.cv_competence_mission_entreprise
          Darty
        %span
          %i.fa.fa-chevron-right
        %span.cv_competence_mission_date
          de juillet 2012 à octobre 2012
      %p
        %span.cv_competence_mission_key
          Projet :
        %span.cv_competence_mission_value
          Le projet Carte Cadeau consiste dans la mise en place d'un nouveau moyen de paiement en ligne permettant aux utilisateurs de régler leurs achats en
          ligne avec plusieurs cartes cadeaux achetées en magasin ou dématérialisées. Les commandes payées par cartes cadeaux sont intégrés au flux logistique
          de paiement et peuvent être gérer dans un backoffice.
      %p
        %span
          Mission :
        %span.cv_competence_mission_value
          Réalisation du projet en Agile, particpation aux estimations, démonstrations et rétrospectives de Sprint.
          Réalisation d'appels XML RPC vers le WebService du prestataire externe Prosodie.
          Maintenance corrective de l'existant.
          Réalisation d'une application de supervision des serveurs de production.
      %p
        %span
          Technos :
        %span.radius.secondary.label
          Websphere Commerce
        %span.radius.secondary.label
          DB2
        %span.radius.secondary.label
          Freemarker
        %span.radius.secondary.label
          Spring
        %span.radius.secondary.label
          Maven
        %span.radius.secondary.label
          JMock
        %span.radius.secondary.label
          JSF 2.0
        %span.radius.secondary.label
          PrimeFaces
        %span.radius.secondary.label
          CDI
        %span.radius.secondary.label
          JPA
        %span.radius.secondary.label
          MySQL
.row
  .large-10.large-centered.columns.cv_experience
    %span.cv_experience_poste
      APPRENTI INGENIEUR LOCICIEL
    %span.cv_experience_entreprise_icon
      %i.fa.fa-building-o
    %span.cv_experience_enterprise
      Thales Communications & Security
    %span.cv_experience_entreprise_icon
      %i.fa.fa-calendar
    %span.cv_experience_enterprise
      mai 2010 - mai 2012
.row
  .large-10.large-centered.columns
    .cv_competence_mission
      %p
        %span.cv_competence_mission_entreprise
          Framework de gestion de réseau NMS Tech
        %span
          %i.fa.fa-chevron-right
        %span.cv_competence_mission_date
          de mai 2010 à mai 2012
      %p
        %span
          Projet :
        %span.cv_competence_mission_value
          Le Framework NMS met en oeuvre plusieurs services et composants autour desquels les programmes réalisent leurs logiciels de gestion de réseau.
      %p
        %span
          Mission :
        %span.cv_competence_mission_value
          Réalisation du portail web d'administration du Framework NMS.
          Réalisation d'un plugin Maven de nettoyage de dépendances.
          Migration du logiciel de source et de versionnage de ClearCase UCM vers GIT.
          Réalisation de vues graphiques génériques pour l'outil de visualisation des éléments administrés par le Framework.
      %p
        %span
          Technos :
        %span.radius.secondary.label
          JBoss
        %span.radius.secondary.label
          GWT
        %span.radius.secondary.label
          JMX
        %span.radius.secondary.label
          Maven
        %span.radius.secondary.label
          GIT
        %span.radius.secondary.label
          Jenkins
        %span.radius.secondary.label
          Apache Karaf
        %span.radius.secondary.label
          Flex
        %span.radius.secondary.label
          TestNG
        %span.radius.secondary.label
          ClearCase UCM

.row
  .large-10.large-centered.columns
    .cv_category
      PROJETS
.row
  .large-10.large-centered.columns.cv_project
    %p
      %span.cv_projet_nom
        DISQUAIRE
      %span.cv_project_icon
        %i.fa.fa-android
      %span.cv_project_context
        Android
      %span.cv_project_icon
        %i.fa.fa-globe
      %span.cv_project_context
        %a{:href=>"#/disquaire.html"} Site Web
    %p
      %span
        Application Android permettant de géolocaliser et noter les disquaires de France, Belgique, Suisse et Luxembourg.
        Cette application me permet de faire de la veille techno et de mettre en pratique des frameworks que je n'ai pas la
        possiblité de tester au sein de mes missions avec Ippon Technologies.
    %p
      %span
        Technos :
      %span.radius.secondary.label
        Android
      %span.radius.secondary.label
        JBoss AS 7
      %span.radius.secondary.label
        JAX-RS
      %span.radius.secondary.label
        MongoDB
      %span.radius.secondary.label
        OpenShift
      %span.radius.secondary.label
        Maven
      %span.radius.secondary.label
        Arquillian
      %span.radius.secondary.label
        Apache Shiro
      %span.radius.secondary.label
        CDI
      %span.radius.secondary.label
        AngularJS
.row
  .large-10.large-centered.columns.cv_project
    %p
      %span.cv_projet_nom
        AGORAVA
      %span.cv_project_icon
        %i.fa.fa-github
      %span.cv_project_context
        Open Source
      %span.cv_project_icon
        %i.fa.fa-globe
      %span.cv_project_context
        %a{:href=>"http://www.agorava.org"} agorava.org
    %p
      %span
        Agorava est une Social Media API pour Java. Elle permet via des connecteurs de communiquer avec différents réseaux sociaux.
        Je suis commiter sur le projet et j'ai participé au developpement de connecteurs.
    %p
      %span
        Technos :
      %span.radius.secondary.label
        Java
      %span.radius.secondary.label
        CDI
      %span.radius.secondary.label
        OAuth 2.0
      %span.radius.secondary.label
        JAX-RS
      %span.radius.secondary.label
        Arquillian

.row
  .large-10.large-centered.columns
    .cv_category
      FORMATION
.row
  .large-10.large-centered.columns
    .row
      .cv_formation_row
        .large-3.columns.cv_formation_date
          Novembre 2013
        .large-9.columns.cv_formation_intitule
          Hybris Quick Start et Developer Training Part I - Core Platform
    .row
      .cv_formation_row
        .large-3.columns.cv_formation_date
          Novembre 2012
        .large-9.columns.cv_formation_intitule
          Formation Android et Android Avancé
    .row
      .cv_formation_row
        .large-3.columns.cv_formation_date
          Juin 2012
        .large-9.columns.cv_formation_intitule
          Formation Ippon Technologies
          %br
          Mule ESB - Liferay - Spring
    .row
      .cv_formation_row
        .large-3.columns.cv_formation_date
          2010-2012
        .large-9.columns.cv_formation_intitule
          Ecole des Techniques du Génie Logiciel
          %br
          Diplômé en Génie Logiciel / Apprentissage chez Thales Communications & Security
    .row
      .cv_formation_row
        .large-3.columns.cv_formation_date
          2006-2009
        .large-9.columns.cv_formation_intitule
          Polytech'Lyon (ex ISTIL)
          %br
          Diplômé en Génie Mécanique / Dernière année d'étude effectuée à Oregon State University

